<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Ubermeat - title</title>
	<link href="./Content/CSS/Layout.css" type="text/css" rel="Stylesheet" />
</head>
<body>
	<div class="FAUX_NAV">
		&nbsp;
	</div>
	<div class="AREA_BANNER">
		<h1>&Uuml;bermeat</h1>
	</div>
	<div class="WRAPPER">
		<div class="AREA_NAV AREA_ITEM">
			<div class="ITEM">
				<a href="./home">
					<span>
						Home
					</span>
				</a>
				<div>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
				</div>
			</div>
			<div class="ITEM">
				<a href="./home">
					<span>
						Projects
					</span>
				</a>
				<div>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
					<a href="./test sub item">
						<span>
							test
						</span>
					</a>
				</div>
			</div>
			
			<div class="ACCOUNT">
				test
			</div>
		</div>
		<div class="AREA_CONTENT AREA_ITEM">
			<h2>Homepage</h2>
			<p>
				test
			</p>
			<h3>Subheading</h3>
			<p>
				test
			</p>
			<div class="clear"></div>
		</div>
		<div class="AREA_FOOTER">
			The license of content on this site varies between copyright and open-source licenses such as Creative-Commons; please view our <a href="./license">license</a> page for information on using our work. This site also uses cookies for session-management; by using this site, you agree to using cookies - for more information visit our <a href="./privacy">privacy</a> page.
		</div>
	</div>
</body>
</html>