/* Admin panel */
.ADMIN_MENU
{
    float: left;
    width: 10.5em;
    box-shadow: 0em 0em 3em -1em #333;
}
.ADMIN_MENU_HEADER, .ADMIN_MENU_ITEM
{
    width: 9.5em;
    border-top: none;
    vertical-align: middle;
    padding: 0.5em;
    background: #FFF;
}
.ADMIN_MENU_HEADER
{
    background: #CCC;
    color: #333;
}
.ADMIN_MENU_ITEM
{
    display: block;
    color: #333;
    text-decoration: none;
}
.ADMIN_MENU_ITEM:hover, .ADMIN_MENU_ITEM:focus
{
    background: #CCC;
}
.ADMIN_MENU_ITEM img
{
    float: left;
    margin-right: 0.5em;
    width: 1.25em;
    height: 1.25em;
    border: none;
}
.ADMIN_CONTENT
{
    float: right;
    width: 48em;
    margin-left: 0.5em;
}
.ADMIN_USERGROUP
{
    margin-bottom: 0.5em;
}
.ADMIN_USERGROUP .TITLE
{
    background: #333;
    color: #FFF;
    padding: 0.25em;
}
.ADMIN_USERGROUP .TITLE a
{
    color: #FFF;
}
.ADMIN_USERGROUP .PERMISSIONS
{
    border: solid 0.1em #333;
}