/* Unpublished article header */
.UNPUBLISHED
{
    margin: 0.5em;
}
.UNPUBLISHED div
{
    background: red;
    color: #FFF;
    padding: 0.5em;
    border-radius: 0.5em;
}
.UNPUBLISHED div div
{
    font-size: large;
    padding: 0em;
}
/* Container for an article's sub-page body */
.ARTICLE .BODY
{
    min-height: 15em;
}
/* Options pane at the top of an article */
.ARTICLE .PANE
{
    padding: 0em 0.5em;
    line-height: 2.5em;
    font-style: italic;
    border-bottom: solid 0.2em #360;
    background: #CCC;
    color: #333;
    margin: -0.5em 0em 0.5em -0.5em;
    width: 60em;
}
.ARTICLE .PANE .THUMBNAIL
{
    max-width: 2em;
    max-height: 2em;
    box-shadow: 0em 0em 0.5em #999;
    vertical-align: middle;
}
.ARTICLE .PANE .BUTTONS
{
    padding-top: 1em;
    float: right;
}
.ARTICLE .PANE .BUTTONS .BUTT
{
    float: right;
    display: block;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
    height: 1.5em;
    line-height: 1.5em;
    text-decoration: none;
    font-style: normal;
    background: #360;
    color: #FFF;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}
.ARTICLE .PANE .BUTTONS .BUTT:hover, .ARTICLE .PANE .BUTTONS .BUTT:focus
{
    background: #333;
    color: #FFF;
}
.ARTICLE .PANE .BUTTONS .BUTT img
{
    float: left;
    margin-right: 0.5em;
    width: 1.3em;
    height: 1.3em;
    border: 0em;
}
/* Article tags */
.TAGS
{
    border-top: dotted 0.1em #CCC;
    padding: 0.25em;
}
.TAGS span
{
    font-size: 1.25em;
}
.TAGS a
{
    display: inline-block;
    margin: 0.25em;
    color: inherit;
}
/* Article comments */
.ARTICLE .COMMENT
{
    margin-bottom: 0.5em;
}
.ARTICLE .COMMENT_HEADER
{
    background: #CCC;
    margin: 0em;
    border-radius: 0.5em;
    color: #333;
}
.ARTICLE .COMMENT_HEADER a
{
    color: inherit;
    text-decoration: none;
}
.ARTICLE .COMMENT_HEADER .COMMENT_DELETE img
{
    width: 1.1em;
    height: 1.1em;
    margin-left: 0.5em;
    border: 0em;
}
.ARTICLE .COMMENT_BODY
{
    margin: 0em;
    overflow: hidden;
}
/* Articles history */
.ARTICLE .HISTORY_ROW
{
    display: block;
    color: #333;
    border-bottom: solid 0.2em #CCC;
    margin: 0em;
    padding: 0em;
}
.ARTICLE .HISTORY_ROW.SELECTED /* The article currently selected for the thread */
{
    background: #CCC;
    color: #333;
}
.ARTICLE .HISTORY_ROW:hover, .ARTICLE .HISTORY_ROW:focus
{
    background: #CCC;
    color: #333;
}
.ARTICLE .HISTORY_ROW .LINE .ARTICLE_CELL_PADDING
{
    border-right: dotted 0.1em #CCC;
}
.ARTICLE .HISTORY_ROW .ARTICLE_CELL_PADDING
{
    padding: 0.5em;
    height: 3em;
    overflow: hidden;
}
.ARTICLE .HISTORY_ROW .CELL4 a
{
    text-decoration: none;
    color: inherit;
}
.ARTICLE .HISTORY_ROW .CELL4 img
{
    margin-right: 1em;
    border: 0em;
}
.ARTICLE .HISTORY_ROW .PUBLISH
{
    font-size: 0.8em;
}
.ARTICLE .HISTORY_ROW .PUBLISH a
{
    font-style: italic;
}
/* Pending page */
.ARTICLES_PENDING a
{
    color: inherit;
}
/* Articles browse/home page */
