/* Main layout */
.clear
{
	clear: both;
}
body
{
	margin: 0em;
	background: #690;
	color: #FFF;
	font: normal 14px Arial,Verdana;
}
.FAUX_NAV
{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #360;
	height: 6em;
}
.AREA_BANNER
{
	z-index: 3;
	position: relative;
	width: 100%;
	background: #9C0;
	height: 4em;
}
.AREA_BANNER h1
{
	margin: 0em;
	padding: 0.5em;
	text-shadow: 0em 0em 0.3em #666;
}
.AREA_BANNER h1 a
{
    text-decoration: none;
    color: #FFF;
}
.WRAPPER
{
	position: relative;
	margin: auto;
	width: 60em;
}
.AREA_ITEM
{
	position: relative;
}
.AREA_NAV
{
	z-index: 3;
	width: 100%;
	background: #360;
	height: 2em;
}
.AREA_NAV .ITEM /* Menu item container */
{
	float: left;
	color: #FFF;
	text-decoration: none;
	background: #360;
	overflow: hidden;
	height: 2em;
	line-height: 1em;
	margin-left: 0.5em;
	font-size: 1em;
}
.AREA_NAV .ITEM img
{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    border: none;
    vertical-align: middle;
}
.AREA_NAV .ITEM:hover, .AREA_NAV .ITEM:focus
{
	overflow: visible;
	background: #9C0;
}
.AREA_NAV .ITEM div
{
    clear: both;
}
.AREA_NAV .ITEM:hover div, .AREA_NAV .ITEM:focus div
{
    box-shadow: 0em 0.5em 1em -0.5em #000;
    background: #690;
}
.AREA_NAV .ITEM a /* Menu item container item */
{
	float: left;
	width: 100%;
	height: 2em;
	color: #FFF;
	text-decoration: none;
}
.AREA_NAV .ITEM div a:hover, .AREA_NAV .ITEM div a:focus /* Sub menu items on hover */
{
	background: #333;
	color: #FFF !important;
}
.AREA_NAV .ITEM:hover a, .AREA_NAV .ITEM:focus a /* Items on container hover */
{
	color: #360;
}
.AREA_NAV .ITEM:hover div a, .AREA_NAV .ITEM:focus div a
{
    color: #FFF;
}
.AREA_NAV .ITEM a span /* Padding */
{
	display: block;
	padding: 0.5em;
}
.AREA_NAV .ITEM div /* Sub menu */
{
	float: left;
	width: 100%;
	background: #9C0;
}
.AREA_NAV .ACCOUNT
{
	float: right;
	height: 2em;
	line-height: 2em;
	margin-right: 0.5em;
}
.AREA_NAV .NAV_BUTTON, .AREA_NAV .NAV_SEP
{
    float: right;
}
.AREA_NAV .NAV_BUTTON
{
    color: #FFF;
    text-decoration: none;
    padding: 0em 0.5em;
    height: 2em;
}
.AREA_NAV .NAV_SEP
{
    margin: 0.25em 0.5em;
    width: 0.1em;
    height: 1.5em;
    background: #690;
}
.AREA_NAV .NAV_BUTTON:hover, .AREA_NAV .NAV_BUTTON:focus
{
    background: #9C0;
    color: #333;
}
.AREA_NAV .NAV_BUTTON img
{
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    border: none;
}
.AREA_CONTENT
{
	z-index: 1;
	margin-top: 1em;
	width: 100%;
	background: #FFF;
	color: #360;
	padding: 0.5em;
	box-shadow: 0em 0em 3em -1em #000;
	min-height: 25em;
	border-radius: 0.5em;
}
.AREA_FOOTER, .AREA_FOOTER a
{
	color: #360;
}
.AREA_FOOTER
{
	padding: 0.5em;
	text-align: center;
}
h2, h3
{
	margin: -0.5em 0em 0.5em -0.5em;
	width: 60em;
	font-size: 1em;
	padding: 0.5em;
}
h2
{
	background: #360;
	color: #FFF;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
h3
{
	background: #CCC;
	color: #666;
}
/* -- Content region -- */
.FL
{
    float: left !important;
}
.FR
{
    float: right !important;
}
.TC
{
    text-align: center;
}
/* Error container */
.ERROR, .SUCCESS
{
    margin: 0.5em 0em;
    padding: 0.5em;
}
.ERROR .TEXT, .SUCCESS .TEXT
{
    padding: 0.3em 0.5em;
}
.ERROR .TEXT
{
    background: #FCC;
    color: #F00;
    border: solid 0.2em #F00;
}
.SUCCESS .TEXT
{
    background: #9C0;
    color: #360;
    border: solid 0.2em #360;
}
/* Button */
.BUTTON
{
    background: #CCC;
    color: #333;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
    font: inherit;
    line-height: 1em;
    margin: 0.25em;
}
.BUTTON:hover, .BUTTON:focus
{
    background: #333;
    color: #FFF;
}
/* Textbox and Textarea */
.TEXTBOX
{
    width: 12em;
}
.TEXTBOX, .TEXTAREA
{
    border: solid 0.1em #CCC;
    padding: 0.25em;
}
.TEXTBOX:hover, .TEXTBOX:focus, .TEXTAREA:hover, .TEXTAREA:focus
{
    background: #CCC;
    color: #333;
    border: solid 0.1em #666;
}
/* Checkbox */
.CHECKBOX
{
    color: #333;
    background: #333;
    margin: 0.5em;
    width: 14em;
    height: 2em;
    line-height: 2em;
}
.CHECKBOX div
{
    float: right;
    width: 11.5em;
    background: #CCC;
    padding-left: 0.5em;
}
.CHECKBOX input[type=checkbox]
{
    width: 1em;
    margin: 0.5em;
    padding: 0em;
}
.CHECKBOX input[type=checkbox]:checked ~ div
{
    background: #9C0;
    color: #360;
}
/* Tables */
.ROW
{
    clear: both;
    padding: 0.5em;
    margin: 0.5em 0em;
}
.ROW.HEADER, .ROW.SUB_HEADER /* For shared styling for heading rows */
{
    border-radius: 0.5em;
}
.ROW.HEADER /* For header rows */
{
    background: #333;
    color: #FFF;
}
.ROW.SUB_HEADER
{
    background: #CCC;
    color: #333;
}
.ROW.HEADER a
{
    color: #FFF;
    text-decoration: none;
}
.ROW.BORDER /* Bottom-border */
{
    border-bottom: solid 0.2em #CCC;
}
.ROW .CELL1, .ROW .CELL2, .ROW .CELL3, .ROW .CELL4
{
    float: left;
}
.ROW .CELL1 /* Row with one cell */
{
    width: 100%;
}
.ROW .CELL2 /* Row with two cells */
{
    width: 50%;
}
.ROW .CELL3 /* Row with three cells */
{
    width: 33%;
}
.ROW .CELL4 /* Row with four cells */
{
    width: 25%;
}
/* Admin panel */
.ADMIN_MENU
{
    float: left;
    width: 10.5em;
    box-shadow: 0em 0em 3em -1em #333;
}
.ADMIN_MENU_HEADER, .ADMIN_MENU_ITEM
{
    width: 9.5em;
    border-top: none;
    vertical-align: middle;
    padding: 0.5em;
    background: #FFF;
}
.ADMIN_MENU_HEADER
{
    background: #CCC;
    color: #333;
}
.ADMIN_MENU_ITEM
{
    display: block;
    color: #333;
    text-decoration: none;
}
.ADMIN_MENU_ITEM:hover, .ADMIN_MENU_ITEM:focus
{
    background: #CCC;
}
.ADMIN_MENU_ITEM img
{
    float: left;
    margin-right: 0.5em;
    width: 1.25em;
    height: 1.25em;
    border: none;
}
.ADMIN_CONTENT
{
    float: right;
    width: 48em;
    margin-left: 0.5em;
}
.ADMIN_USERGROUP
{
    margin-bottom: 0.5em;
}
.ADMIN_USERGROUP .TITLE
{
    background: #333;
    color: #FFF;
    padding: 0.25em;
}
.ADMIN_USERGROUP .TITLE a
{
    color: #FFF;
}
.ADMIN_USERGROUP .PERMISSIONS
{
    border: solid 0.1em #333;
}