<?xml version="1.0" encoding="utf-8"?><template><pkey><![CDATA[admin_panel]]></pkey><hkey><![CDATA[settings]]></hkey><description><![CDATA[Base page for admin settings.]]></description><html><![CDATA[%ERROR%
%SUCCESS%
<form method="post" action="<!--ADMIN_URL-->">
	<div class="ROW HEADER">
		<div class="CELL3">Key</div>
		<div class="CELL3">Value</div>
		<div class="CELL3">Actions</div>
		<div class="clear"></div>
	</div>
	%ITEMS%
	<div class="ROW">
		<div class="CELL1">
			<input type="submit" value="Save" class="BUTTON FR" />
		</div>
		<div class="clear"></div>
	</div>
</form>]]></html></template>