<?xml version="1.0" encoding="utf-16"?><settings><db><host><![CDATA[127.0.0.1]]></host><port><![CDATA[3308]]></port><database><![CDATA[cms_test]]></database><username><![CDATA[root]]></username><password><![CDATA[]]></password></db><mail><host><![CDATA[]]></host><port><![CDATA[]]></port><username><![CDATA[]]></username><password><![CDATA[]]></password><address><![CDATA[]]></address></mail></settings>