<settings>
  <db>
    <host>localhost</host>
    <port>3308</port>
    <database>cms</database>
    <username>root</username>
    <password></password>
  </db>
  <mail>
    <host>10.0.0.1</host>
    <port>25</port>
    <username>cms@fortexhotel.com</username>
    <password>cms123</password>
    <address>cms@fortexhotel.com</address>
  </mail>
</settings>