<configuration>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="10" />
    <compilation debug="true">
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name="uber-cms" loginUrl="/login" protection="None" timeout="99999999" path="/" />
    </authentication>
  </system.web>
  <appSettings>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/d:ADMIN_PANEL,BASIC_SITE_AUTH,INSTALLED" />
    </compilers>
  </system.codedom>
</configuration>